.heading-primary {
  color: $color-white;
  text-transform: uppercase;
  backface-visibility: hidden; /* Just to make the little shaky screen in animations go away*/

  &--main {
    display: block;
    font-size: 6rem;
    font-weight: 400;
    letter-spacing: 3.5rem;
    animation: easeinout 1s;
  }

  &--sub {
    display: block;
    font-size: 2rem;
    font-weight: 400;
    letter-spacing: 1.7rem;
    animation: easeinright 1s;
  }
}
